<script type="text/javascript">
  function startContainer() {
    let token = document.getElementById("iteration_token").value
    $.ajax({ url: "/exercises/" + <%= @exercise.id %> + "/iterations/" + token + "/start_container",
      type: "POST" })
  }

  function runTests() {
    let token = document.getElementById("iteration_token").value
    let code = document.querySelector(".CodeMirror").CodeMirror.doc.getValue();
    $.ajax({url: "/exercises/" + <%= @exercise.id %> + "/iterations/" + token + "/run_tests", 
            type: "POST",
            data: { "code": code }
    })
  }

  function stopContainer() {
    let token = document.getElementById("iteration_token").value
    $.ajax({ url: "/exercises/" + <%= @exercise.id %> + "/iterations/" + token + "/stop_container",
      type: "POST" })
  }

  $(document).ready(startContainer);
  window.addEventListener("unload", function () {
    let data = new FormData()
    let csrf_token = document.querySelector("meta[name=csrf-token]").getAttribute("content");
    let iteration_token = document.getElementById("iteration_token").value
    data.append("authenticity_token", csrf_token);
    navigator.sendBeacon("/exercises/" + <%= @exercise.id %> + "/iterations/" + iteration_token + "/stop_container", data)
    return null;
  });
</script>

<h1>New Iteration</h1>

<%= form_with(model: [@exercise, @iteration], remote: true) do |form| %>
  <% if @iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
        <% @iteration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :token, value: @token %>

  <div class="field editor-container">
    <%= form.label :code %>
    <%= form.text_area :code, id: "editor" %>
  </div>

  <div class="editor-container">
    <strong>Tests:</strong>
    <%= text_area_tag "exercise_tests", @exercise.tests, id: "tests" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", data: { disable_with: false }, class: "btn btn-success" %>
  </div>

  <div>
    <strong>Output:</strong>
    <%= text_area_tag "terminal", nil, id: "terminal" %>
  </div>

<% end %>

<input type="button" value="Run" onClick="runTests()" class="btn btn-warning"/>

<%= link_to 'Back', exercise_iterations_path %>
