<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Attempt number:</strong>
  <%= @iteration.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p class="editor-container">
  <strong>Code:</strong>
  <%= text_area_tag "iteration_code", @iteration.code, id: "editor" %>
</p>

<p class="editor-container">
  <strong>Tests:</strong>
  <%= text_area_tag "exercise_tests", @exercise.tests, id: "tests" %>
</p>

<%= link_to 'Edit', edit_exercise_iteration_path(@iteration) %> |
<%= link_to "Back to #{@exercise.name}", exercise_iterations_path(@exercise) %>
|
<%= link_to 'Back to exercises', exercises_path %>
