<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Tests:</strong>
  <%= text_area_tag "exercise_tests", @exercise.tests, id: "tests" %>
</p>

<%= link_to 'Attempt', new_exercise_iteration_path(@exercise) %> |
<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
